{% include 'header.html' %}

<div class="wrapper">

<h2>What's on your mind?</h2>

<form action="/add_post" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>


<script>

const draftPost = () => {
    const data = document.getElementById('id_content').value;
    fetch("/draft_post", {
        method: "POST", 
        body: JSON.stringify({post_content: data, csrfmiddlewaretoken: '{{ csrf_token }}'}),
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            credentials: 'include'
        },
    }).then(res => {
        console.log("Request complete! response:", res);
    });

};

setInterval(draftPost, 2000);
</script>

</div>