{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'header.html' %}

<div class="wrapper">

<div class="profile" id="profile-{{profile.id}}">
    {% if own_profile %}
        <a href="/useraccount/{{profile.user_account.id}}/edit">EDIT YOUR INFO</a>
    {% endif %}
    <h2>{{profile.user_account.name}}</h2>
    <img src="/{{profile.user_account.profile_photo}}" style="float:left;height:200px;">
    <p><span class="label">Joined:</span> {{profile.user_account.created_on}}</p>
    <p><span class="label">Birthday:</span> {{profile.user_account.birthday}}</p>

    <div class="profile-about">
        {{profile.user_account.about}}
    </div>
</div>

<span class="label">The latest from {{profile.user_account.first_name}}:</span>
{% for post in posts %}
<div class="post">
    <span id="post-{{post.id}}">
        <span class="date">{{post.created_on}}</span>
        </p>{{post.content}}
    </span>
</div>
{% endfor %}

</div>